.play-window {
  margin-top: 1rem;
  width: 40%;
  min-height: 400px;
  margin: auto;
  background-color: #F9F665;
  box-shadow: 0 3px 10px rgb(0, 0, 0.2);
  text-align: center;
  padding: 1rem;
}

.country-name {
  width: 50%;
  margin: auto;
}

.capital-name {
  width: 50%;
  margin: auto;
  margin-top: 1em;
}

.population {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.country-guess {
  font-size: larger;
}

.capital-guess {
  margin: 1em;
  font-size: larger;
}

.population-guess {
  margin: 1em;
  font-size: larger;
}

.correct-guess {
  background-color: rgb(44, 169, 44);
}

.incorrect-guess {
  background-color: rgb(245, 47, 47);
}

.reload {
  text-decoration: none;
  color: white;
  font-size: larger;
  border: 1px solid black;
  background-color: grey;
  border-radius: 8px;
  padding: 6px;
}
