<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>What are you here for?</h2>
<%= link_to 'Test your geography', play_path %>
<%= link_to 'Check out your wishlist', wishes_path %>
<%= link_to 'Reminisce', visits_path %>
