<div class="home-layout">
  <%= video_tag "earth.mov", autoplay: :autoplay, loop: :loop, class: "home-video" %>


  <h1 id="welcome">Welcome to Geography</h2>
  <%= link_to 'Test your knowledge', play_path, class: "home-links", id: "play" %>
  <%= link_to 'Check out your Wishlist', wishes_path, class: "home-links", id: "wishlist" %>
  <%= link_to 'Reminisce over past trips', visits_path, class: "home-links", id: "visits" %>

</div>
